{% extends "base.html" %}
{% load leaflet_tags %}


{% block title %}
    Mi Carrito
{% endblock %}

   
{% block main %}
    <head>
            
        {% leaflet_js plugins="forms" %}
        {% leaflet_css plugins="forms" %}
        {% load crispy_forms_tags %}
        {% load static %}
        
        <link rel="stylesheet" href="{% static 'css/map.css' %}">
    </head>
    <div class="d-flex flex-column align-items-center m-3" >
        <h3 class="mx-3 title">Carrito de Compras</h3>
    </div>
    <section class="container">
        <div class="row">
            <section class="h-100" style="background-color: #eee;">
                <div class="container p-0 h-100">
                <div class="row d-flex justify-content-center align-items-center">
                    <div class="col-10 mb-5">
                        {% if products %}
                            {% for cartItem in products %}
                            <div class="card rounded-3 mb-4 shadow">
                                <div class="card-body p-4">
                                <div class="row d-flex justify-content-between align-items-center">
                                    <div class="col-md-2 col-lg-2 col-xl-2">
                                        <img
                                        src="{{ cartItem.product.image }}"
                                        class="img-fluid rounded-2" alt="Cotton T-shirt">
                                    </div>
                                    <div class="col-md-3 col-lg-3 col-xl-3">
                                        <p class="lead fw-normal mb-2">{{ cartItem.product.name }}</p>
                                        <!-- <p><span class="text-muted">Size: </span>M <span class="text-muted">Color: </span>Grey</p> -->
                                    </div>
                                    <div class="col-1">
                                        <input id="amount" class="form-control form-control-sm" type="number" max="{{cartItem.product.stock}}" 
                                        min="1" value="{{ cartItem.amount }}" onchange="changeAmount(this.value,{{ cartItem.id }})">
                                    </div>
                                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                        <h5 class="mb-0">${{ cartItem.product.price }}</h5>
                                    </div>
                                    <div class="col-1">
                                        <a href="/cart/delete/{{ cartItem.id }}" class="text-danger"><i class="fas fa-trash fa-lg"></i></a>
                                    </div>
                                </div>
                                </div>
                            </div>
                            {% endfor %}
                            <div class="card shadow">
                                <div class="card-body">
                                    <div class="d-flex flex-column align-items-center m-3" >
                                        <h3 class="mx-3 title">Detalles del pedido</h3>
                                    </div>
                                    {% if error %}
                                        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                                            <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                                            </symbol>
                                            <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
                                            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                                            </symbol>
                                            <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                                            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                            </symbol>
                                        </svg>
                                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                                            <strong>Error de pedido!</strong> Por favor indique su ubicación en el mapa.
                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                        </div>
                                    {% endif %}
                                                <form method="POST" class="post-form">
                                                    {% csrf_token %}
                                                    {{ formulario | crispy }}
                                                    <div class="card mb-3">
                                                        <div class="card-body">
                                                            <div class="d-flex justify-content-between p-2 mb-2" style="background-color: #e1f5fe;">
                                                                <h5 class="fw-bold mb-0">Total:</h5>
                                                                <h5 id="total" class="fw-bold mb-0">${{ total }}</h5>
                                                            </div>
                                                            <!-- <p id="total" class="total">Total: {{ total }}</p> -->
                                                        </div>
                                                    </div>
                                                    <button type="submit" class="btn-block btn-lg login_button mb-3">Realizar Pedido</button>
                                                </form>
                                </div>
                            </div>
                        {% else %}
                            <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                                <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                                </symbol>
                                <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                                </symbol>
                                <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                </symbol>
                            </svg>
                            <div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
                                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                                <strong>No hay productos en su carrito!</strong> Por favor ingrese a "Menú" para agregar productos.
                            </div>
                        {% endif %}
                        
                        


                        
            
                    </div>
                </div>
                </div>
            </section>
        </div>

    </section>

    
    <script>
        const totalParagraph = document.getElementById("total")

        let total = {{ total }}

        function changeAmount(amount,idItem){
            // fetch de javascript
            fetch("/cart/change_amount",{
                method:"POST",
                headers:{
                    "Content-Type":"application/json"
                },
                body:JSON.stringify({
                    amount:Number.parseInt(amount),
                    idItem: idItem
                })
            }).then(response=>response.json())
                .then(data=>{
                    total = data.total
                    totalParagraph.innerText = "$" + data.total.toFixed(2)
                })
        }
        
        paypal.Buttons({}).render('#pedido-button-container');

    </script>

{% endblock %}