{% extends "base.html" %}
{% load leaflet_tags %}


{% block title %}
    Clientes
{% endblock %}

   
{% block main %}
<div class="d-flex flex-column align-items-center m-3" >
    <h3 class="mx-3 title">Listado de Clientes</h3>
</div>

<div class="row justify-content-center">
    <div class="col-8">
        <form class="d-flex mb-3 justify-content-center"  role="search" action="/auth/search" method="post">
            {% csrf_token %}
            <input name="search" class="form-control me-2 rounded-pill" style="width: 30%;" type="search" placeholder="Buscar usuario por email..." aria-label="Search">
            <button class="search__form__button rounded-circle" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button> 
        </form>
        <div class="card rounded p-4 shadow" style="border-radius: 1rem;">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Email</th>
                    <th scope="col">Nombre de usuario</th>
                    <th scope="col">Dirección</th>
                    <th scope="col">Opciones</th>
                  </tr>
                </thead>
                <tbody>
                {% for client in page_obj %}
                  <tr>
                    <td>{{client.first_name}}</td>
                    <td>{{client.last_name}}</td>
                    <td>{{client.email}}</td>
                    <td>{{client.username}}</td>
                    <td>{{client.barrio}}, {{client.calle}} {{client.numero}}</td>
                    <td><a href="/auth/perfil/{{client.id}}"><i class="fa-solid fa-pencil icon_user"></i></a> <a href="#"><i class="fa-solid fa-trash icon_user"></i></a> </td>
                  </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% if page_obj.paginator.num_pages > 1 %}
            <nav aria-label="Page navigation example">
                <ul class="pagination mt-5 justify-content-center   ">
                    
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" style="color: #FF4249;">Anterior</a>
                            </li>
                        {% endif %}
                    
                        {% for i in page_obj.paginator.page_range %}
                
                            {% if i == page_obj.number %}
                                <li class="page-item active" >
                                    <a class="page-link" href="#" style="background-color: #FF4249; border: 1px solid #FF4249;">{{ i }} </a>
                                </li>
                            {% else %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ i }}" style="color: #FF4249;">{{ i }}</a>
                                </li>
                            {% endif %}
                            
                        {% endfor %}
            
                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}" style="color: #FF4249;">Siguiente</a>
                            </li>
                        {% endif %}
                    
            
                </ul>
            </nav>
        {% endif %}
    </div>
</div>

{% endblock %}