{% extends "base.html" %}

{% block title %}
    Mi Perfil
{% endblock %}

{% block main %}
    <div class="d-flex flex-column align-items-center m-3" >
        {% if user.id == client.id %}
            <h3 class="mx-3 title">Mi Perfil</h3>
        {% else %}
            <h3 class="mx-3 title">Perfil</h3>
        {% endif %}
    </div>
    <div class="d-flex flex-column align-items-center m-3" >
        
        <!-- <h3 class="mx-3">Perfil</h3> -->
        {% if messageEdit %}
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
            </symbol>
            <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
            </symbol>
            <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </symbol>
        </svg>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
            <strong>Perfil actualizado!</strong> Su perfil ha sido actualizado con éxito.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %} 
        <form method="POST" action="/auth/edit/{{client.id}}" style="width: 60%;">
            {% csrf_token %}
            <div class="row justify-content-center">
                <div class="col-3">
                    <div class="card">
                        <div class="card-body text-center">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                                class="rounded-circle img-fluid" style="width: 150px;">
                            <h5 class="my-3">{{client.username}}</h5>
                            <p class="text-muted mb-1">{{client.first_name}}</p>
                            <p class="text-muted mb-4">{{client.last_name}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <h5 class="title">Información</h5>

                    <div class="mb-2">
                        <label for="exampleInputEmail1" class="form-label">Nombres</label>
                        <input type="text" class="form-control rounded-pill" name="first_name" value="{{client.first_name}}" required>
                    </div>
                    <div class="mb-2">
                        <label for="exampleInputEmail1" class="form-label">Apellido</label>
                        <input type="text" class="form-control rounded-pill" name="last_name" value="{{client.last_name}}" required>
                    </div>
                    <div class="mb-2">
                        <label for="exampleInputEmail1" class="form-label">Nombre de usuario</label>
                        <input type="text" class="form-control rounded-pill" name="username" value="{{client.username}}" required>
                    </div>
                    <div class="mb-4">
                        <label for="exampleInputEmail1" class="form-label">Email</label>
                        <input type="email" class="form-control rounded-pill" name="email" value="{{client.email}}" readonly="readonly">
                    </div>
                </div>
                <div class="col-4">
                    <h5 class="title">Dirección</h5>
                    <div class="mb-2">
                        <label for="exampleInputEmail1" class="form-label">Barrio</label>
                        <input type="text" class="form-control rounded-pill" name="barrio" value="{{client.barrio}}">
                    </div>
                    <div class="mb-2">
                        <label for="exampleInputEmail1" class="form-label">Calle</label>
                        <input type="text" class="form-control rounded-pill" name="calle" value="{{client.calle}}">
                    </div>
                    <div class="mb-2">
                        <label for="exampleInputEmail1" class="form-label">Número</label>
                        <input type="number" class="form-control rounded-pill" name="numero" value="{{client.numero}}">
                    </div>
    
                   
                </div>
            </div>
            
            <div class="row justify-content-center">
                <div class="col-3">
                    <button class="btn btn-block btn-lg login_button" style="background-color: #FF4249; color: #fff; border: 1px solid #FF4249">Actualizar</button>
                </div>
            </div>
    
        </form>

    </div>

    <!-- <form class="auth-form" method="post" action="/auth/signup/">
        {% csrf_token %}
        <input class="field" type="text" name="first_name" placeholder="First name...">
        <input class="field" type="text" name="last_name" placeholder="Last name...">
        <input class="field" type="text" name="username" placeholder="Username...">
        <input class="field" type="email" name="email" placeholder="Email...">
        <input class="field" type="password" name="password" placeholder="Password...">
        <input class="field" type="password" name="password_confirmation" placeholder="Confirm password...">
        <button class="button">Sign up</button>
    </form>
    {% if error %}
        <p>{{ error }}</p>
    {% endif %} -->
{% endblock %}