<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">   
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center p-5 mt-5 border-bottom shadow">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Contáctanos en nuestras redes sociales:</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a href="" class="me-4 text-reset" style="text-decoration: none;">
          <i class="fab fa-facebook-f icon_footer" ></i>
        </a>
        <a href="" class="me-4 text-reset" style="text-decoration: none;">
          <i class="fab fa-twitter icon_footer"></i>
        </a>
        <a href="" class="me-4 text-reset" style="text-decoration: none;">
          <i class="fab fa-google icon_footer"></i>
        </a>
        <a href="" class="me-4 text-reset" style="text-decoration: none;">
          <i class="fab fa-instagram icon_footer"></i>
        </a>
        <a href="" class="me-4 text-reset" style="text-decoration: none;">
          <i class="fab fa-linkedin icon_footer"></i>
        </a>
        <a href="" class="me-4 text-reset" style="text-decoration: none;">
          <i class="fab fa-github icon_footer"></i>
        </a>
      </div>
      <!-- Right -->
      
    </section>
    <!-- Section: Social media -->
    
    <!-- Section: Links  -->
    <section class="shadow" style="background-color: #FFF; color: #5c5c5c;">
      
      <div class="container text-center text-md-start pt-3" >
        
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="mb-4">
              <i class="fa-solid fa-utensils me-3 icon_footer"></i></i>Delivery<b>SOFT</b>
            </h6>
            <p>
              En DeliverySOFT, nos esforzamos constantemente por mejorar nuestro servicio y calidad para brindarles a nuestros clientes 
              la mejor experiencia. Como resultado, estamos orgullosos de presentar nuestra última mejora, 
              ¡Nuestro nuevo sitio web de pedidos en línea! 
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Enlaces útiles
            </h6>
            <p>
              <a href="#!" class="links_footer">Inicio</a>
            </p>
            <p>
              <a href="#!" class="links_footer">Menú</a>
            </p>
            <p>
              <a href="#!" class="links_footer">Restaurante</a>
            </p>
            <p>
              <a href="#!" class="links_footer">Contacto</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Contacto
            </h6>
            <p><i class="fas fa-home me-3 icon_footer"></i> Balcarce 256 Jujuy, Argentina</p>
            <p>
              <i class="fas fa-envelope me-3 icon_footer"></i>
              rrhh@deliverysoft.com.ar
            </p>
            <p><i class="fas fa-phone me-3 icon_footer"></i> + 54 388 4596172</p>
            <p><i class="fas fa-print me-3 icon_footer"></i> + 54 388 5181297</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: #FF4249; color: #FFF;">
      © 2022 Copyright - Introducción a Django 2022
    </div>
    <!-- Copyright -->
</footer>
  <!-- Footer -->