{% load static %}
<nav class="navbar shadow p-0 mb-3 bg-body">
    <div class="navbar__search">
        <a class="link_logo" href="/"><img class="logo" src="{% static 'img/logo.png' %}" alt=""> Delivery<b>SOFT</b></a>
        <!-- <form action="">
            <input class="search__form__input" type="text" name="products" id="products">
            <button class="search__form__button" type="submit"> <i class="fa-solid fa-magnifying-glass"></i></button>
        </form> -->
        {% if user.is_authenticated %}
            {% if user.is_admin %}
                <div class="navbar__links" style="width: 50%;">
                    <ul class="links">
                        <li><a class="link" href="/pedidos"><i class="fa-solid fa-map-location-dot icon_user"></i>Pedidos</a></li>
                        <li><a class="link" href="/products"><i class="fa-solid fa-burger icon_user"></i>Productos</a></li>
                        <li><a class="link" href="/auth/clients"><i class="fa-solid fa-user icon_user"></i>Clientes</a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button type="button" class="login btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: #FFF; color: #5c5c5c;">
                        <i class="fa-solid fa-circle-user icon_user"></i>{{ user.first_name }} {{ user.last_name }}
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/auth/perfil/{{user.id}}">Mi Perfil</a></li>
                        <li><a class="dropdown-item" href="#">Configuración</a></li>
                        <li><a class="dropdown-item" href="#">Ayuda</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/auth/logout">Cerrar sesión</a></li>
                    </ul>
                </div>
            {% else %}
                <div class="navbar__links">
                    <ul class="links">
                        <li><a class="link" href="/">Inicio</a></li>
                        <li><a class="link" href="/products/">Menú</a></li>
                        <li><a class="link" href="#">Restaurante</a></li>
                        <li><a class="link" href="#">Contacto</a></li>    
                    </ul>
                </div>
                <a class="link" href="{% url 'mis_pedidos' %}"><i class="fa-solid fa-utensils icon_user"></i>Mis Pedidos</a>
                <form class="d-flex" role="search" action="/products/search" method="post">
                    {% csrf_token %}
                    <input name="search" class="form-control me-2 rounded-pill" type="search" placeholder="Buscar..." aria-label="Search">
                    <button class="search__form__button rounded-circle" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
                <div class="btn-group">
                    <button type="button" class="login btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: #FFF; color: #5c5c5c;">
                        <i class="fa-solid fa-circle-user icon_user"></i>{{ user.first_name }} {{ user.last_name }}
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/auth/perfil">Mi Perfil</a></li>
                        <li><a class="dropdown-item" href="#">Configuración</a></li>
                        <li><a class="dropdown-item" href="#">Ayuda</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/auth/logout">Cerrar sesión</a></li>
                    </ul>
                </div>
                <a href="/cart" style="text-decoration: none">
                    <i class="fa-solid fa-cart-shopping icon_cart" style="position: absolute;"></i>
                    <div class="rounded-circle d-flex align-items-center justify-content-center shadow-1-strong"
                        style="width: 20px; height: 20px; position: relative; left: 15px; bottom: 14px; background-color: #3b5998;">
                        <p class="text-white text-sm mb-0 small">{{ user.cart.products.all.count }}</p>
                    </div>
                </a>

            {% endif %}
        {% else %}
            <div class="navbar__links">
                <ul class="links">
                    <li><a class="link" href="/">Inicio</a></li>
                    <li><a class="link" href="/products/">Menú</a></li>
                    <li><a class="link" href="#">Restaurante</a></li>
                    <li><a class="link" href="#">Contacto</a></li>
                </ul>
            </div>
            <form class="d-flex" role="search" action="/products/search" method="post">
                {% csrf_token %}
                <input name="search" class="form-control me-2 rounded-pill" type="search" placeholder="Buscar productos..." aria-label="Search">
                <button class="search__form__button rounded-circle" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
            <a class="login" href="/auth/login"><i class="fa-solid fa-right-to-bracket mx-2 icon_user"></i>Iniciar sesión</a>
            <a class="login" href="/auth/signup"><i class="fa-solid fa-address-card mx-2 icon_user"></i>Registrarse</a>
        {% endif %}
    </div>
  
</nav>